<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
</head>
<body>
    <h1>Checkout</h1>
    <table>
        <thead>
            <tr>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Cost</td>
            </tr>
        </thead>
        <tbody>
            {% for product in purchased_products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.cost }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total Bill: ${{ total }}</p>
    <a href="{% url 'customer_products' %}">Back to Products</a>
</body>
</html>
