<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <style>
        .counter-box {
            display: none;
            align-items: center;
        }
        .counter-box input {
            width: 50px;
            text-align: center;
        }
        .counter-box button {
            width: 25px;
            height: 25px;
        }
    </style>
    <script>
        function increment(id) {
            var input = document.getElementById('quantity_' + id);
            input.value = parseInt(input.value) + 1;
        }

        function decrement(id) {
            var input = document.getElementById('quantity_' + id);
            if (parseInt(input.value) > 1) {
                input.value = parseInt(input.value) - 1;
            }
        }
    </script>
</head>
<body>
    <H1>Welcome Customers ! </H1>
    <H3>This page shows you all the products that we offer.</H3>
    <H3>Please select the products you are looking for and proceed to checkout.</H3>
    <form method="POST" action="{% url 'customer_products' %}">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Select Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    {% if product.quantity > 0 %}
                        In Stock
                    {% else %}
                        Out Of Stock
                    {% endif %}
                </td>
                <td>
                    {% if product.quantity > 0 %}
                        <button type="button" onclick="decrement('{{ product.id }}')">-</button>
                        <input type="number" name="quantity_{{ product.id }}" id="quantity_{{ product.id }}" value="1" min="1" max="{{ product.quantity }}">
                        <button type="button" onclick="increment('{{ product.id }}')">+</button>
                    {% else %}
                            N/A
                    {% endif %}
                </td>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Checkout</button>
    </form>

</body>
</html>